<div class="container-fluid">
  <h1>Resultados</h1>
  {% if results %}
    <div class="container-fluid">
<div class="row" style="margin: 0 auto; display: flex;
		    flex-wrap: wrap; justify-content: space-between;">

      {% for item in results %}
<div class="card" style="width: 18rem; text-align: center;">

        <img class="card-img-top" src="{{ item.picture['data']['#attributes']['src'] }}" alt="Card image cap" style="width: 100%; height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ item.1[0] }}, {{ item.2[0] }}</h5>
          {% if item.5[0] %}
            <p class="badge badge-pill badge-success">{{ item.4[0] }}</p>
          {% else %}
            <p class="badge badge-pill badge-danger">{{ item.4[0] }}</p>
          {% endif %}
          {% if item.7['description'] %}
            <p class="card-text">{{ item.7['description'] }}</p>
          {% else %}
            <p class="card-text">No posee descripción.</p>
          {% endif %}
          <a href="{{ item.6[0].url }}" class="btn btn-primary">DETALLES</a>
            {#Item.v1:{{ item.7['v1'] }}#}
        </div>
      </div>
      {% endfor %}
  </div>
  </div>
  {% endif %}
</div>
