<div class="container-fluid">
  <h1>Resultados</h1>
  {% if results %}
  {# {{ kint(results) }} #}
  <div class="container-fluid">
    <p>{{ results_counter }}</p>

    <div class="row" style="margin: 0 auto; display: flex;
		    flex-wrap: wrap; justify-content: space-between;">
      {% for item in results %}
      <div class="card" style="width: 18rem; text-align: center;">
        {# {{ kint(item) }} #}
        <img class="card-img-top" src="{{ item.picture['data']['#attributes']['src'] }}" alt="Card image cap" style="width: 100%; height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ item.first_name }}, {{ item.last_name }}</h5>
          {% if item.status_id %}
            <p class="badge badge-pill badge-success">{{ item.status }}</p>
          {% else %}
            <p class="badge badge-pill badge-danger">{{ item.status }}</p>
          {% endif %}
          {% if item.description %}
            <p class="card-text">{{ item.description }}</p>
          {% else %}
            <p class="card-text">No posee descripción.</p>
          {% endif %}
          <a href="{{ item.0[0].url }}" class="btn btn-primary">DETALLES</a>
            {#Item.v1:{{ item.7['v1'] }}#}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
